.billboard {
  background: url("../img/back-mobile.jpg") no-repeat;
  background-color: var(--dark-grey);
  color: var(--basic-white);
}

.billboard__wrapper {
  padding: 15px 0 0 0;
}

.billboard__title {
  .font (@font-weight: 300; @font-size: 24px; @line-height: 29px);
  color: var(--basic-white);
  margin-top: 0;
  padding: 0 20px;
  text-align: center;
}

.billboard__img {
  display: block;
}

.billboard__container {
  background-color: var(--basic-grey);
  padding: 32px 20px 0 20px;
}

.billboard__button {
  .font (@font-weight: 700; @line-height: 18px);
  background-color: inherit;
  color: inherit;
  border: 3px solid var(--basic-white);
  border-radius: 29px;
  padding: 15px 36px;
  margin-bottom: 20px;
  text-align: center;
}

.billboard__list {
  .clear();
  min-height: 76px;
}

.billboard__text {
  .font (@font-weight: 300; @font-size: 14px; @line-height: 24px);
  color: var(--basic-white);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .billboard {
    background: url("../img/billboard-tablet.png") no-repeat;
    height: 545px;
    min-height: 620px;
  }

  .billboard__wrapper {
    display: grid;
    grid-template-columns: 321px 319px;
    grid-template-rows: 160px 384px;
    padding-top: 75px;

  }

  .billboard__title {
    .font(@font-weight: 300; @font-size: 40px; @line-height: 48px);
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0;
    text-align: center;
    padding: 15px;
  }

  .billboard__img {
    grid-column: 1;
    grid-row: 1;
  }

  .billboard__container {
    display: grid;
    grid-template-columns: 302px;
    grid-template-rows: 89px 84px 179px;
    grid-column: 1;
    grid-row: 2;
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: transparent;
  }

  .billboard__button {
    margin-bottom: 35px;
  }

  .billboard__text {
    .font (@font-weight: 300; @line-height: 24px);
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .billboard__wrapper {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 92px;
    padding-bottom: 15px;
  }

  .billboard__container {
    grid-template-rows: 89px 142px 173px;
    padding-top: 81px;
    padding-left: 0;
  }

  .billboard__text {
    .clear();
  }
}
