.contacts {
  padding: 23px 0;
}

.contacts__wrapper {
  padding: 0 20px;
}

.contacts__title {
  .font (@font-weight: 300; @font-size: 24px; @line-height: 28,8px);
  text-align: center;
  margin: 0 0 33px 0;
}

.contacts__list {
  .clear();
}

.contacts__item-title {
  .font (@font-weight: 700; @line-height: 25px);
  margin: 0;
  text-align: center;
}

.contacts__item-text {
  .font (@font-weight: 300; @font-size: 24px; @line-height: 33px);
  display: block;
  color: var(--basic-pink);
  text-decoration: none;
  font-style: normal;
  text-align: center;
  margin: 0 0 19px 0;
}

.contacts__map {
  margin: 0;
}

.contacts__map-img {
  display: block;
}

@media (min-width: @tablet-width) {
  .contacts__list {
    display: grid;
    grid-template-columns: 310px 310px;
  }

  .contacts__item {
    &:last-child {
      grid-column: ~"1/3";
      grid-row: 2;
    }
  }

  .contacts__map {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    display: flex;
    justify-content: space-between;
  }

  .contacts__wrapper {
    padding: 0 130px;
  }
}
