.features__title {
  .font (@font-weight: 300; @font-size: 24px; @line-height: 29px);
  color: var(--basic-grey);
  padding: 30px 20px;
  margin-top: 0;
  text-align: center;
  min-height: 250px;
  margin-bottom: 0;
}


.features__title-item {
  display: block;
  margin-bottom: 29px;
}

.features__list {
  .clear();
  background-color: var(--spec-white);
  padding: 38px 20px 10px 20px;
}

.features__list-item {
  margin-bottom: 30px;
}

.features__list-title {
  .font (@font-weight: 700; @line-height: 24px);
  .clear();
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 13px;
  text-align: center;
}

.features__list-text {
  .font (@font-size: 14px; @line-height: 24px);
  .clear();
  color: var(--basic-grey);
  text-align: center;
}

.features__images {
  .clear();
  background-color: var(--spec-white);
}

.features__images-item {
  text-align: center;

  &--hidden {
    display: none;
  }
}

.features__info {
  display: none;
}

@media (min-width: @tablet-width) {
  .features__title {
    .font (@font-weight: 300; @font-size: 40px; @line-height: 54px);
    padding-top: 46px;
    min-height: 244px;
  }

  .features__title-item--size {
    display: block;
  }

  .features__title-item {
    margin-bottom: 0;
  }

  .features__wrapper {
    display: grid;
    grid-template-columns: 310px 350px;
    grid-template-rows: 160px 160px 160px;
  }

  .features__list {
    grid-row: 1;
    grid-column: 2;
  }

  .features__list-item {
    background-color: var(--spec-white);
  }

  .features__list-title {
    text-align: left;
  }

  .features__list-text {
    text-align: left;
  }

  .features__info {
    display: grid;
    grid-template-columns: 310px 350px;
    min-height: 362px;
  }

  .features__info-img {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    padding: 53px 10px 10px 21px;
    background-color: var(--basic-white);
  }

  .features__info-wrapper {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--basic-white);
    padding: 95px 34px 15px 20px;
  }

  .features__info-title {
    .font (@font-weight: 700; @font-size: 30px; @line-height: 36px);
    color: var(--basic-black);
    margin-top: 0;
    margin-bottom: 12px;
  }

  .features__info-text {
    .font (@font-size: 14px; @line-height: 24px);
    color: var(--basic-grey);
    margin-top: 0;
    margin-bottom: 5px;
  }

  .features__info-link {
    .font (@font-size: 14px; @line-height: 24px);
    color: var(--basic-pink);
  }
}


@media (min-width: @desktop-width) {
  .features {
    padding: 0 130px;
  }

  .features__title {
    .font (@font-weight: 300; @font-size: 50px; @line-height: 68px);
  }

  .features__wrapper {
    display: grid;
    grid-template-columns: 313px 313px 313px;
    grid-template-rows: 328px 282px;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    min-width: 939px;
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
  }

  .features__list-item {
    padding: 17px 10px 10px 10px;
  }

  .features__list-title {
    .font (@font-weight: 700; @font-size: 30px);
    text-align: center;
  }

  .features__list-text {
    .font();
    text-align: center;
  }

  .features__images {
    display: flex;
    justify-content: space-between;
    min-width: 939px;
    padding: 27px 54px 0 54px;
    grid-row: 1;
    grid-column: 1;
  }

  .features__images-item {
    &--hidden {
      display: block;
    }
  }

  .features__info {
    display: grid;
    grid-template-columns: 351px 589px;
    min-height: 410px;
  }

  .features__info-img {
    background-color: var(--spec-white);
  }

  .features__info-wrapper {
    background-color: var(--spec-white);

  }

  .features__info-title {
    .font (@font-weight: 700; @font-size: 30px);
  }

  .features__info-text {
    .font ();
  }

  .features__info-link {
    .font();
  }
}
