.header {
  min-width: 320px;
  background-color: var(--basic-grey);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    background-color: var(--basic-black);
    opacity: 0.3;
    padding-top: 27px;
    padding-bottom: 35px;
  }

  .header__logo-img {
    width: 145px;
    height: 40px;
  }

  .header__toggle {
    padding-top: 15px;
  }
}
