.main-nav__list {
  .clear();
}

.main-nav__item {
  .font(@font-weight: 700; @font-size: 18px; @line-height: 32px);
  list-style: none;
  padding: 11px 0;
}

.main-nav__link {
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
}
