.reviews__list {
  .clear();
}

.reviews__title {
  .font (@font-weight: 700);
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 5px;
}

.reviews__text {
  .font (@font-family: "Open Sans"; @font-size: 14px; @line-height: 30px);
  color: var(--basic-grey);
}

.reviews__info {
  .font (@font-family: "Open Sans"; @font-size: 14px; @line-height: 30px);
  color: var(--basic-grey);
}
