.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.page-body {
  .font();
}

.container {
  min-width: @mobile-width;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
    padding: 0 130px;
  }
}
